# ------------------------------------
# 1. DEPENDÊNCIAS DE NODE E LOGS
# ------------------------------------
/node_modules
/package-lock.json # Remova se usar yarn!
/yarn.lock         # Remova se usar npm!
/npm-debug.log*
/yarn-error.log*
.eslintcache
.pnpm-store
# Se você tiver chaves ou variáveis de ambiente sensíveis
.env
.env.local

# ------------------------------------
# 2. ARQUIVOS DO REACT NATIVE / EXPO
# ------------------------------------
# Cache do Metro Bundler e do Expo
.expo/
.expo-shared/
/dist/
/web-build/

# Build e iOS/Android (se for fazer o build nativo no futuro)
/android/build
/android/.gradle
/android/app/build
/ios/build
/ios/Pods/

# ------------------------------------
# 3. ARQUIVOS DE SISTEMA OPERACIONAL (Windows/Linux)
# ------------------------------------
# Windows
Thumbs.db
ehthumbs.db

# macOS (Mesmo que não usem, é bom incluir)
.DS_Store

# ------------------------------------
# 4. ARQUIVOS DE EDITOR (VS Code e outros)
# ------------------------------------
.vscode/*
!/.vscode/settings.json # Manter configurações compartilhadas
!/.vscode/tasks.json
!/.vscode/launch.json
!/.vscode/extensions.json
*.sublime-workspace

# ------------------------------------
# 5. ARQUIVOS DO TYPESCRIPT
# ------------------------------------
*.tsbuildinfo