body {
    background-color: #e9ecef; /* Slightly darker gray background */
    min-height: 100vh; /* Ensure covers full viewport height */
}

/* Custom styles for specific colors */
.header-bg {
    background-color: #BCDBBC;
}
.brand-color {
    color: #228F2F;
}
.btn-custom {
    background-color: #113815;
    color: white;
    border: none;
}
.btn-custom:hover {
    background-color: #0a220c; /* Slightly darker on hover */
    color: white;
}
.form-container-bg {
    background-color: #BCDBBC;
    padding: 20px;
    border-radius: 8px;
}
.text-green {
    color: #228F2F;
}
.box-info {
    background-color: #f8f9fa; /* Light background for info boxes */
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,.05);
}